@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;900');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
    height: 100%;

    font-family: 'Poppins', sans-serif;
    color: #FFF;
    background: #03071e;
    background: linear-gradient(0deg, rgba(3,8,40,1) 0%, rgba(3,8,40,1) 80%, rgba(0,17,113,1) 100%);
    overflow: overlay;
}

.menu-left{
    background-color: #000;
    padding-top: 20px;
    padding-bottom: 90px;
    padding-left: 25px;
    padding-right: 25px;
    width: 23%;
    height: 100%;
    
    position: fixed;
    display: grid;
    grid-template-rows: 1fr 6fr 5fr 1fr;

    font-size: 13px;
    color:gainsboro;
}

.logo{
    display: flex;
    align-items: center;
    transform: translate(-5px);
}

.logo h1{
    font-size: 24px;
}

.logo ion-icon{
    font-size: 50px;
    color: #FFF;
}

.playing{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 90px;
    
    background-color: rebeccapurple;
    visibility: hidden;
}

.options div{
    display: flex;
    flex-direction: column;

    margin-top: 8%;
}

.options{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.options1:first-child{
    margin-top: 3%;
}

.options1{
    font-weight: 600;
}

.options2{
    font-weight: 700;
    margin-bottom: 5px;
}

.options1 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.options2 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

.options ion-icon{
    font-size: 24px;
    --ionicon-stroke-width: 40px;
}

.playlists{
    display: flex;
    flex-direction: column;
    gap: 5%;

    font-weight: 400;
    font-size: 14px;
}

.install{
    display: flex;
    align-items: flex-end;
    gap: 15px;
    
    width: 100%;
    margin-bottom: 5%;
    font-weight: 600;
}

.install ion-icon{
    font-size: 24px;
    --ionicon-stroke-width: 40px;
}

main{
    padding: 30px;
    height: 110vh;
}

header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;

    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;

    background-color: rgba(0,17,113,0.3);
}

.buttons-container{
    display: flex;
    gap: 15px;
}

.buttons-container div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-large{
    border: gray solid 0.5px;
    height: 32px;
    margin-left: 15px;
    border-radius: 20px;
    padding: 15px;

    font-size: 13px;
    font-weight: 600;
}

.buttons-container ion-icon{
    background-color: rgba(0, 0, 0, 0.6);
    color: #FFF;
    border-radius: 50%;
    font-size: 25px;
    padding: 3px;
}

.recently-played{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    row-gap: 10px;

    margin-top: 20px;
    margin-bottom: 40px;
}

.horizontal-card{
    display: flex;
    align-items: center;
    gap: 15px;
    height: 65px;
    border-radius: 5px;

    background-color: rgba(255, 255, 255, 0.15);
    box-shadow: #000 2px solid;
    border-radius: 5px;
}

.thumb{
    background-size: cover;
    background-position: center;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    height: 100%;
    width: 64px; 
}

#thumb1{
    background-image: url("../img/thumb1.png");
}

#thumb2{
    background-image: url("../img/thumb2.png");
}

#thumb3{
    background-image: url("../img/thumb3.png");
    background-position: top;
}

#thumb4{
    background-image: url("../img/thumb4.png");
}

#thumb5{
    background-image: url("../img/thumb5.png");
}

#thumb6{
    background-image: url("../img/thumb6.png");
}

.made-for-you{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 15px;
    gap: 20px;
}

.vertical-card{
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 5px;
    padding: 18px;
    width: 164px;
}

.vertical-card p{
    font-size: 0.8125em;
    color: gainsboro;
}

.mix{
    background-size: cover;

    border-radius: 5px;
    height: 130px;
    width: 100%;
    margin-bottom: 20px;
    background-color: rebeccapurple;
}

#mix-1{
    background-image: url("../img/mix-1.jpg");
}

#mix-2{
    background-image: url("../img/mix-2.jpg");
}

#mix-3{
    background-image: url("../img/mix-3.png");
}

#mix-4{
    background-image: url("../img/mix-4.jpg");
}

#profile{
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-around;
    width: 108px;
    padding: 0;
    border: none;
}

#profile ion-icon{
    background-color: transparent;
    color: #FFF;
    font-size: 16px;
}

#profile ion-icon:first-child{
    font-size: 32px;
    transform: translate(-12%);
}

#profile span{
    transform: translate(-8px);
}

h1{
    font-weight: 600;
    font-size: 32px;
    color: #FFF;
}

h2{
    font-weight: 600;
    font-size: 24px;
}

hr{
    border: none;
    background-color: gray;
    height: 0.5px;
    opacity: 50%;
}

::-webkit-scrollbar{
    width: 13px;
}

::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.15);
}
